# node modules
node_modules/
projects/*/node_modules

# assignment files
assignments/**

# demos
demos/**



# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
projects/02-basics-project/notes.md
