# node modules
node_modules/
projects/*/node_modules

# assignment files
assignments/**

# assignment excludes



# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json