# ignored node_modules
node_modules/
projects/*/node_modules
assignments/*/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json